footer
  padding 2rem 1rem
  background: #000; /* fallback for old browsers */
  background: linear-gradient(to top, #000000 , #101010); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align center
  color rgba(gold, .50)

