<div class="wrap">
  <div class="hero">
  </div>
  <img class="right" src="../../../assets/scritta.png" alt="">
  <div class="inner"> 25/11/73 - 03/04/98 </div>
  <img class="left" src="../../../assets/jj.png" alt="">
</div>
<img class="m" src="../../../assets/5.png" alt="">
<section class="album">
  <div class="title">
    <h1>- Releases -</h1>
  </div>
  <div class="ac">
    <div class="info">
      <ul>
        <li>
          Impara Insegna - 4:57
          <audio controls="controls">
            Il tuo browser non supporta l'elemento <code>audio</code>.
            <source src="http://developer.mozilla.org/@api/deki/files/2926/=AudioTest_(1).ogg">
          </audio>
        </li>
        <li>
          Flow To Flow - 4:10
          <audio controls="controls">
            Il tuo browser non supporta l'elemento <code>audio</code>.
            <source src="http://developer.mozilla.org/@api/deki/files/2926/=AudioTest_(1).ogg">
          </audio>
        </li>
        <li>
          Nocche Dure - 3:36
          <audio controls="controls">
            Il tuo browser non supporta l'elemento <code>audio</code>.
            <source src="http://developer.mozilla.org/@api/deki/files/2926/=AudioTest_(1).ogg">
          </audio>
        </li>
        <li>
          Nocche Dure - 2:04
          <audio controls="controls">
            Il tuo browser non supporta l'elemento <code>audio</code>.
            <source src="http://developer.mozilla.org/@api/deki/files/2926/=AudioTest_(1).ogg">
          </audio>
        </li>
        <li>
          Dio Lodato per sta chanche - 4:22
          <audio controls="controls">
            Il tuo browser non supporta l'elemento <code>audio</code>.
            <source src="http://developer.mozilla.org/@api/deki/files/2926/=AudioTest_(1).ogg">
          </audio>
        </li>
      </ul>
    </div>
    <span class="cover"></span>
  </div>
</section>
<div class="videos">
  <div class="title">
    <h1>- Videos -</h1>
  </div>
  <div class="yt">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/v2Mf2ZiHkkY" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/syuyHul1fTs" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/6gXNo50Xce8" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/BzwF7ei1NNY" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/_bO5ZroyiBk" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/tC5H8JfxC3w" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
