p
  width 80%
  margin 0 auto
  font-size 1.5em
  clear both
  position relative
  display flex
  flex-wrap wrap
  span
    flex 1 0
img
  margin 1em 0
  &:first-of-type
    margin-top  0

.k
  left 0
  margin-right 2em

.v
  right 0
  margin-left 2em
