<article>
  <div class="title">
    <h1>Primi anni</h1>
  </div>
  <p>
    <img class="k" src="../../../assets/e.jpg" alt="">
    <span>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto at commodi consequuntur delectus deleniti deserunt dignissimos doloremque ducimus excepturi fuga ipsum itaque molestias nihil praesentium, quae rem rerum soluta?
    </span>

  </p>
  <div class="title">
    <h1>I live</h1>
  </div>
  <p>
    <img class="k" src="../../../assets/i.jpg" alt="">

    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Ab culpa cumque deleniti dolores harum inventore ipsum laboriosam,
      magni maiores molestias necessitatibus non nostrum odit placeat possimus, quasi repellendus. Fugiat, temporibus.</span>
    <span>Accusantium adipisci aspernatur assumenda cupiditate dolor dolores eaque eveniet iure libero nihil nisi nostrum nulla, quas qui quibusdam quidem repudiandae rerum sint tenetur vitae? At doloremque expedita fugiat officiis quam?</span>
    <img class="v" src="../../../assets/f.jpg" alt="">

    <span>A accusantium ad cum deserunt dolor dolorum eligendi ex explicabo fugiat in magnam minima minus nostrum porro quaerat quia quo sed temporibus, vitae voluptatibus! Cupiditate eaque earum quam quis repudiandae.</span>
    <span>Animi aperiam aspernatur consequatur distinctio dolor dolorem doloribus ducimus ex hic inventore ipsa labore magni modi mollitia nam nisi possimus, quisquam rerum soluta tempora, tenetur unde ut velit vero voluptatem!</span>
    <img class="k" src="../../../assets/h.jpg" alt="">
    <span>Amet delectus distinctio ducimus, eos est et, excepturi explicabo iure nihil nobis non obcaecati officiis recusandae sequi totam vel velit voluptatum. Accusamus ad aperiam aut consequatur cumque doloribus, obcaecati perferendis?</span>

  </p>
  <div class="title">
    <h1>La Scomparsa</h1>
  </div>
  <p>
    <img class="k" src="../../../assets/k.jpg" alt="">
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      A ad autem corporis culpa dignissimos ea eligendi facilis incidunt ipsam laborum magni,
      maiores maxime minima nesciunt perspiciatis, quae quaerat repudiandae saepe.
    </span>
    <span>Aliquid architecto assumenda cum dicta distinctio doloribus ducimus enim ex, exercitationem expedita fugiat iusto labore maiores minima minus, molestias necessitatibus officia quidem quos ratione soluta, tempora ullam vel veniam voluptatem!</span><span>Aspernatur cumque deserunt, dignissimos dolore eos est, eveniet ex exercitationem explicabo ipsum iusto modi nam nemo nisi nostrum quasi repudiandae, sequi totam velit vitae. Cumque doloremque earum eum odit rerum.</span><span>Culpa earum in incidunt itaque libero modi nostrum obcaecati, pariatur quo repellendus tempore velit veniam vero. Accusamus explicabo harum mollitia nemo, odio perferendis? Blanditiis fugit inventore magni molestiae saepe voluptatem.</span><span>Animi consectetur corporis eligendi exercitationem, fugit harum maiores neque non quam quidem rem sapiente sint! A asperiores deleniti, dignissimos earum est maxime natus necessitatibus nobis officia officiis possimus quo ut.</span>
  </p>
  <div class="title">
    <h1>... e il Ritorno</h1>
  </div>
  <p>
  <img class="k" src="../../../assets/k.jpg" alt="">
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Ab ad, assumenda autem cum deleniti dolorum eos esse laborum maxime,
      natus perspiciatis quod reiciendis soluta. Aperiam commodi dolores hic natus voluptates.
    </span>
    <span>Error eum hic ipsum molestiae neque, quos ratione voluptates! A aperiam autem cupiditate dignissimos dolorum enim et inventore laudantium magnam nam nesciunt, nihil obcaecati quaerat, saepe, unde vel velit voluptate.</span><span>Eveniet exercitationem id optio veritatis voluptatibus. Adipisci architecto atque ducimus eligendi minus quidem tempora. Enim fugit ipsa iusto labore placeat quaerat saepe soluta velit? Doloribus, eos similique? Accusamus, atque perferendis.</span><span>Aliquid animi, delectus deserunt et excepturi iste magni nemo nisi nobis obcaecati omnis pariatur, possimus praesentium provident quas soluta ut! Iste optio quas sit totam. Cumque doloremque est quasi quod.</span><span>Assumenda deleniti dicta dolore eius eos iste non, ratione rem veniam. Eaque iusto magnam magni nam quis. Doloremque earum officia omnis quam qui quibusdam totam ullam? Eum ipsum provident veniam!</span>
  </p>
</article>
